//variables
$bg-secondary-t: rgba(234, 234, 234, 0.6);
$primary: #38b6ff;
$secondary: #ffde00;
//css code
html{
  overflow-x: hidden;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.bg-nav{
  background-color: #38b6ff;
}
.remove-from-cart, .remove-from-cart:hover{
  color: red !important;
}
.bg-icy{
  background-color: $bg-secondary-t;
}
.btn .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #ffde00 !important;
  border-color: #ffde00 !important;
  color: #000000 !important
}
.btn-primary{
  background-color: #38b6ff !important;
  border-color: #38b6ff !important;
}
.btn .btn-outline-secondary-select{
  background-color: rgba(255, 255, 255, 1.0) !important;
  border-color: #000000 !important;
}
.btn-header{
  border-color: #ffde00 !important;
}
.btn-ice-secondary {
  background-color: #4210CF;
  border-color: #4210CF;
}

.btn-ice-secondary:hover {
  background-color: #774CF2;
  border-color: #774CF2;
}
.single-product {
  background-image: url('https://cdn.sanity.io/images/c1chvb1i/production/263bfff40f54289195d208c9dec2a3d1b48adfc8-1100x735.jpg/CRISP-BLN-store.jpg');
  height: 100vh;
}
.single-product-overlay{
  height: 100vh;
}
.bg-icl{
  background-image: url("https://images.unsplash.com/photo-1633464129147-777bdcc97c1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1184&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.bg-icl-primary{
  background-color: #38b6ff !important;
}
.bg-header {
  background: rgba(56, 182, 255, 0.3)
}
.main-content {
    min-height:100vh;
}
.cart-count {
  top: -.5em;
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
.text-gold {
  color: #ffde00 !important;
  text-decoration: none;
}
.td-none{
  text-decoration: none;
}
html{
  padding: 0;
  margin: 0;
}
.overlay {
  z-index: 2
}
.cart-item:hover {
  cursor:pointer;
}
.nav-link:active, .nav-link:visited {
  font-weight: bold;
  }
.carousel-control-next, .carousel-control-prev{
  border: thick !important;
}

@media screen and (max-width: 425px) {
  .cart-body{
    overflow-x: scroll;
    overflow-y: hidden;
  }
  /* width */
  .cart-body::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  .cart-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
  }

  /* Handle */
  .cart-body::-webkit-scrollbar-thumb {
    background: $secondary;
    border-radius: 10px;
  }
}
main{
  margin-top: 50px;
}
.logo{
  padding-left: 10px
}
@media (max-width: 820px){
  main{
    margin-top:100px
  }
  .pricing{
    display: none;
  }
  .logo{
    width: 100%;
  }
}
html::-webkit-scrollbar{
  display: none;
}
